@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Jost:ital,wght@0,300;0,400;0,700;0,900;1,500&display=swap");

body {
  padding: 30px 0;
}

.app {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 72px;
  color: #0ccac4;
}
